#clss3{text-align: center;}
#clss2{text-align: center;}
#clss4{text-align: center;}
#home{text-align: center;font-size: larger;}
#oq{text-align: center;}
#tp{text-align: center;}
#cs{text-align: center;}

#ig{width: 200px; / Largura desejada /
    height: 150px; / Altura desejada */}
#or{text-align: center;}
#ty{width: 500px;
height: 350px}

